/* General */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
:root {
  /* Border */
  --border: 0.5px solid var(--color-x1);
  /* Time */
  --x1-time: 0.25s;
  --x2-time: 0.35s;
  --x3-time: 0.5s;
  --x4-time: 2s;
  --x5-time: 1s;
  /* Size */
  --half-size: 4px;
  --default-size: 8px;
  --x2-size: 16px;
  --x3-size: 24px;
  --x4-size: 32px;
  --x5-size: 40px;
  --x6-size: 48px;
  --x8-size: 64px;
  --x10-size: 80px;
  /* Font style */
  --font-type: "Noto Serif JP", serif;
  --font-color-default: #fff;
  --font-color-border: #b6e;
  --font-color-highligth: #b630c2;
  --font-color-hover: #cca4ff;
  --unavailable: #afafaf;
  /* Colors */
  --background: #020202;
  --backgroud-hover: #353535;
  --color-x0: #520669;
  --color-x1: #6a1385;
  --color-x2: #7f13a0;
  --color-x3: #a60ed4;
  --color-x4: #c862e7;
  --color-x5: #e208ff;
  --color-x6: #5d99f3;
  --color-x7: #15ff00;
  --color-x8: #ff0000;
  /* Animation */
  --animate: infinite glow alternate-reverse var(--x4-time);
  --animate-hover: infinite glow-hover alternate-reverse var(--x4-time);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  color: var(--font-color-default);
}
*::selection {
  background-color: var(--color-x2);
}
*::-webkit-scrollbar {
  background-color: inherit;
  width: var(--half-size);
  height: var(--half-size);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-x0);
  border-radius: var(--x3-size);
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
html {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, var(--color-x6), var(--color-x4));
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
  background: linear-gradient(#3338, #3334);
  width: 80%;
  max-width: 1250px;
  max-height: 640px;
  border-radius: var(--x3-size);
  box-shadow: 0 0 1rem #5555;
  display: grid;
  grid-template:
    "title navbar" auto
    "main  navbar" auto;
  font-family: var(--font-type);
  font-size: var(--x2-size);
  animation: entrance var(--x4-time) cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/* Title */
#title {
  grid-area: title;
  text-align: center;
  background: linear-gradient(var(--color-x3), transparent);
  border-top-left-radius: inherit;
  padding: var(--default-size);
}
#title:hover {
  animation: var(--animate);
}
/* Navbar */
#navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background: var(--color-x5);
  min-width: 150px;
}
.menu__item,
.menu__item > a {
  width: 100%;
  height: 100%;
  background: inherit;
}
.menu__item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--x2-time);
  border-radius: inherit;
  font-weight: bolder;
}
.menu__item:first-child {
  border-top-right-radius: inherit;
}
.menu__item:last-child {
  border-bottom-right-radius: inherit;
}
/* Main */
#main {
  grid-area: main;
  overflow: hidden;
  height: 500px;
}
#main .container {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
#main .container section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  scroll-snap-align: center;
}
#main .container::-webkit-scrollbar {
  display: none;
}
.profile-photo {
  min-width: 250px;
  min-height: 250px;
  background-image: url("../static/profile-pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: var(--animate);
}
#main .container section#uotro {
  flex-direction: column;
  justify-content: space-evenly;
}
#main .container section#whoiam {
  gap: var(--x2-size);
  padding: 0 var(--x2-size);
  line-height: 2;
  justify-content: center;
}
#main .container section#myproyects {
  justify-content: center;
}
#main .container section#myservices {
  justify-content: center;
  align-items: start;
  gap: var(--x2-size);
  flex-wrap: wrap;
  overflow: scroll;
}
#main .container section#myservices * {
  margin: var(--x3-size);
}
#main .container section#contacts {
  justify-content: center;
  align-items: center;
  gap: var(--x3-size);
}
#main .container section#contacts * {
  margin: var(--x2-size);
}
#main .container section#unavailable {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--x4-size);
}
/* Default options */
.text-color {
  color: var(--background);
}
.flex-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-start {
  align-self: flex-start;
}
.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon:hover {
  animation: var(--animate);
}
.i-instagram {
  background-image: url("../static/instagram.png");
}
.i-instagram::after {
  content: "@churruarinantonella";
  padding-left: 110%;
}
.i-gmail {
  background-image: url("../static/gmail.png");
}
.i-gmail::after {
  content: "antonellachurruarin@gmail.com";
  padding-left: 110%;
}
.i-stop {
  background-image: url("../static/stop.png");
  width: 80px !important;
  height: 80px !important;
}
.image-content {
  height: auto;
  background: var(--color-x4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0 0 1rem var(--color-x2));
  border-radius: var(--x2-size);
}
.w100 {
  width: 100% !important;
}
.text-center {
  text-align: center;
}
.default {
  width: 350px;
}
.tab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: baseline;
  gap: var(--x2-size);
}
.tab-item {
  min-width: 130px;
  min-height: 130px;
}
.tab-item > a:hover {
  animation: var(--animate-hover);
}
.list-item {
  font-weight: bold;
  padding-left: 1.5rem;
  background-image: url("../static/star.png");
  background-position: 0 0;
  background-size: 7%;
  background-repeat: no-repeat;
}
/* Glow effect */
.geff {
  position: relative;
}
.geff:hover {
  z-index: 10;
  animation-duration: var(--x1-time);
  font-size: large;
}
.geff:hover::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: inherit;
  animation: rotate-x1 ease-in var(--x4-time) infinite;
  z-index: -1;
  box-shadow: 0 0 var(--x3-size) var(--half-size) var(--color-x8),
    0 0 var(--half-size) 2px var(--color-x8);
}
.geff:hover::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: inherit;
  animation: rotate-x2 ease-in var(--x4-time) infinite;
  z-index: -1;
  box-shadow: 0 0 var(--x3-size) var(--half-size) var(--color-x7),
    0 0 var(--half-size) 2px var(--color-x7);
}
@keyframes rotate-x1 {
  0%,
  100% {
    top: 0%;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 0%;
  }
  75% {
    top: 0%;
    left: 0%;
  }
}
@keyframes rotate-x2 {
  0%,
  100% {
    bottom: 0%;
    right: 50%;
  }
  25% {
    bottom: 50%;
    right: 50%;
  }
  50% {
    bottom: 50%;
    right: 0%;
  }
  75% {
    bottom: 0%;
    right: 0%;
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 1rem var(--color-x2))
      drop-shadow(0 0 0.5rem var(--color-x4));
  }
  50% {
    filter: drop-shadow(0 0 1rem var(--color-x3))
      drop-shadow(0 0 0.5rem var(--color-x5));
  }
  100% {
    filter: drop-shadow(0 0 0.5rem var(--color-x2))
      drop-shadow(0 0 1rem var(--color-x4));
  }
}
@keyframes glow-hover {
  0% {
    filter: drop-shadow(0.01rem 0.01rem 0.05rem var(--color-x2))
      drop-shadow(-0.01rem -0.01rem 0.05rem var(--color-x4))
      drop-shadow(-0.01rem 0.01rem 0.05rem var(--color-x2))
      drop-shadow(0.01rem -0.01rem 0.05rem var(--color-x4));
  }
  100% {
    filter: drop-shadow(0.01rem 0.01rem 0.05rem var(--color-x3))
      drop-shadow(-0.01rem -0.01rem 0.05rem var(--color-x5))
      drop-shadow(-0.01rem 0.01rem 0.05rem var(--color-x3))
      drop-shadow(0.01rem -0.01rem 0.05rem var(--color-x5));
  }
}
@keyframes entrance {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@media screen and (width<700px) {
  * {
    font-size: 100%;
  }
  #navbar {
    font-size: 100%;
    min-width: 60px;
    text-align: center;
  }
  #main .container section {
    text-align: left;
  }
  #main .container section#uotro {
    text-align: center;
  }
  #main .container section#whoiam {
    text-overflow: ellipsis;
  }
  #main .container section#whoiam .profile-photo {
    display: none;
  }
  #main .container section#myproyects {
    flex-direction: column;
    gap: 1%;
  }
  #main .container section#myproyects div.default {
    overflow: scroll;
  }
  #main .container section#myservices {
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  #main .container section#myservices * {
    margin: var(--default-size);
  }
  .geff:hover {
    font-size: 100%;
  }
  .profile-photo {
    min-width: 100px;
    min-height: 100px;
  }
  .default {
    width: auto;
    height: auto;
    padding: var(--half-size);
  }
  .tab {
    justify-content: center;
  }
}
