/* General */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
:root {
  /* Border */
  /* --border: 0.5px solid var(--color-x1); */
  /* Time */
  --x1-time: 0.25s;
  --x2-time: 0.35s;
  --x3-time: 0.5s;
  /* Size */
  --half-size: 4px;
  --default-size: 8px;
  --x2-size: 16px;
  --x3-size: 24px;
  --x4-size: 32px;
  --x5-size: 40px;
  --x6-size: 48px;
  --x8-size: 64px;
  --x10-size: 80px;
  /* Font style */
  --font-type: "Noto Serif JP", serif;
  --font-color-default: #fff;
  --font-color-border: #b6e;
  --font-color-highligth: #b630c2;
  --font-color-hover: #cca4ff;
  --unavailable: #afafaf;
  /* Colors */
  --background: #020202;
  --backgroud-hover: #353535;
  --color-x1: #1e0063;
  --color-x2: #7b069e;
  --color-x3: #9207bc;
  --color-x4: #c06cd9;
  --color-x5: #e208ff;
  --color-x6: #5d99f3;
}
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--font-color-default);
  text-shadow: 1px 0 var(--font-color-border), -1px 0 var(--font-color-border),
    0 1px var(--font-color-border), 0 -1px var(--font-color-border);
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  background-color: var(--color-x2);
  width: var(--half-size);
  height: var(--half-size);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-x5);
  border-radius: var(--half-size);
}
p {
  text-align: justify;
}
html {
  background-color: var(--color-x3);
  overflow: hidden;
}
body {
  max-width: 1366px;
  height: 100vh;
  max-height: 1024px;
  margin: auto;
  padding: 0;
  font-size: var(--x2-size);
  font-family: var(--font-type);
  overflow-x: hidden;
}
.unavailable,
.unavailable:hover {
  cursor: not-allowed;
  color: var(--unavailable);
}
.default {
  min-width: 500px;
  max-width: 640px;
}
.flex-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--default-size);
  flex-wrap: wrap;
}
.tab {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--default-size);
  gap: var(--x3-size);
}
.tab-item {
  min-width: 200px;
  min-height: 150px;
}
.icon {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  transition-duration: var(--x1-time);
}
.icon:hover {
  filter: drop-shadow(0 0 0.75rem var(--color-x5));
}
.i-instagram {
  background-image: url("../static/instagram.png");
}
.i-gmail {
  background-image: url("../static/gmail.png");
}
/* Navbar */
#navbar {
  height: 15%;
  border: var(--border);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-x3);
  font-weight: bold;
}
.navbar__title {
  display: inherit;
  align-items: center;
  padding: 0 2em;
  font-size: var(--x3-size);
  font-style: italic;
}
.navbar__menu {
  width: 60%;
  display: inherit;
  flex-direction: row;
  padding-right: var(--x2-size);
}
.navbar__menu ul {
  width: 100%;
  display: inherit;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu ul li a:target {
  color: var(--font-color-hover);
}
a {
  transition-duration: var(--x2-time);
}
a:hover:not(.unavailable) {
  /* color: var(--font-color-hover); */
  text-shadow: 0 0 2rem var(--color-x6);
}

/* Main */
main {
  border: var(--border);
  width: 100%;
  height: 80%;
}
main .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
main .container section {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  scroll-snap-align: center;
}
main .container section:nth-child(2n) {
  background: linear-gradient(to left, var(--color-x5), var(--color-x6));
}
main .container section:not(:nth-child(2n)) {
  background: linear-gradient(to left, var(--color-x6), var(--color-x5));
}
main .container section div {
  width: 500px;
  padding: var(--x2-size);
}
main .container #whoiam .profile-photo {
  width: 55%;
  max-width: 500px;
  height: 55%;
  background-image: url("../static/profile-pic.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.5rem var(--backgroud-hover));
}
main .container #whoiam .profile-info {
  min-width: 500px;
  width: 50%;
  padding: var(--x2-size);
}
main .container #myservices {
  justify-content: space-evenly;
}
main .container #myproyects h3 {
  text-align: center;
}
main .container #unavailable div {
  min-width: 60%;
  text-align: center;
  margin: auto;
}
/* Footer */
footer {
  height: 5%;
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-x2);
  font-weight: bold;
}
/* Mobile */
@media screen and (width<700px) {
  .navbar__menu {
    width: 50%;
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: end;
  }
  .navbar__menu .navbar__button,
  .navbar__button::after,
  .navbar__button::before {
    display: block;
    position: inherit;
    content: "";
    width: var(--x6-size);
    height: var(--half-size);
    background-color: var(--color-x4);
    border-radius: var(--x2-size);
    transition-duration: var(--x2-time);
  }
  .navbar__button::before {
    top: var(--x2-size);
  }
  .navbar__button::after {
    position: absolute;
    bottom: var(--x2-size);
  }
  .navbar__button:hover,
  .navbar__button:hover::after,
  .navbar__button:hover::before {
    cursor: pointer;
    background-color: var(--color-x6);
  }
  .navbar__button.active {
    background-color: transparent;
  }
  .navbar__button.active::after {
    transform: rotate(45deg) translate(14px, 10px);
    /* top: 0; */
  }
  .navbar__button.active::before {
    transform: rotate(-45deg) translate(10px, -10px);
    /* top: 0; */
  }
  .navbar__menu ul {
    display: inherit;
    z-index: 10;
    height: max-content;
    flex-direction: column;
    gap: var(--x3-size);
    position: absolute;
    top: var(--x3-size);
    right: -100%;
    transition-duration: var(--x1-time);
    padding: var(--x2-size) var(--half-size);
    text-align: center;
    border: var(--border);
    background-color: var(--color-x3);
  }
  .navbar__menu ul.active {
    right: 0 !important;
  }
}
